

body{background-color:eaeaea;}
h1{color:#385170}
h2{color:#385170}
td{color: #257aa6}
li{color:#257aa6  }
div{color:#257aa6 }
hr{background-color:eaeaea;
    border-style: dotted none none none;
    border-width:5px;
    border-color:00bdaa; 
    width:20%
        
}